#root {
  /* max-width: 1320px; */
  margin: 0 0 0 auto;
  padding-left: 255px;
  text-align: center;
}
li::marker{
 margin: 0!important; 
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}
.read-the-docs {
  color: #888;
}
.recharts-wrapper{
  width:100%!important;
} 
.recharts-surface{
  padding-right:15px;
}
@media only screen and (max-width:768px){
  #root {
    width: 100%;
    margin: 0 0 0 auto;
    padding-left: 0px!important;
    text-align: center;
  }
}